*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:"Poppins",sans-serif;

background:linear-gradient(180deg,#ffe9f3,#fff7fb);

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:30px;

color:#6f5564;

}

.loginCard{

width:100%;

max-width:420px;

background:white;

border-radius:30px;

padding:40px 30px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

text-align:center;

}

.logo{

width:140px;

margin-bottom:20px;

}

h1{

font-family:"Great Vibes",cursive;

font-size:60px;

font-weight:400;

color:#9b5f82;

margin-bottom:5px;

}

h2{

font-size:24px;

font-weight:600;

color:#c6769f;

margin-bottom:15px;

}

p{

font-size:16px;

margin-bottom:25px;

}

input{

width:100%;

padding:18px;

border:2px solid #f5d6e4;

border-radius:18px;

font-size:17px;

outline:none;

margin-bottom:20px;

}

input:focus{

border-color:#d989af;

}

button{

width:100%;

padding:18px;

border:none;

border-radius:18px;

background:#d989af;

color:white;

font-size:18px;

font-weight:600;

cursor:pointer;

transition:.25s;

}

button:hover{

background:#c6769f;

}

#errorMessage{

display:none;

margin-top:20px;

color:#d64545;

font-weight:600;

}
